/* General styles */

body {
  margin: 0;
  padding: 0;
  background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("./img/wooden-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  font-family: 'Roboto', serif;
}

.accent-hr {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  border: 0;
  border-top: 2px solid #4fbdf4;
}

.btn-blue, .btn-blue:active, .btn-blue:visited {
  background: #4fbdf4;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(163,163,163,1);
  -moz-box-shadow: 0px 0px 6px 0px rgba(163,163,163,1);
  box-shadow: 0px 0px 6px 0px rgba(163,163,163,1);
  transition: all 0.5s linear;
  cursor: pointer;
  margin-top: 30px;
}

.btn-blue:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.fade-enter {
  opacity: 0;
    transform:   translate(-250px,0);
    transform: translate3d(-250px,0,0);
}

.fade-enter.fade-enter-active {
  opacity: 1;
	transition: opacity 1s ease;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}

.fade-leave {
  opacity: 1;
	transform:   translate(0,0,0);
	transform: translate3d(0,0,0);
  transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}

.fade-leave.fade-leave-active {
  opacity: 0;
	transform:   translate(250px,0);
	transform: translate3d(250px,0,0);
}

.cardFadeIn-appear {
  transform: translate(100%);
}

.cardFadeIn-appear.cardFadeIn-appear-active {
  transform: translate(0%);
  transition: transform 1000ms ease-in-out;
}
